In [5]:
import wrds

WRDS_USERNAME = "ygxu"

db = wrds.Connection(wrds_username=WRDS_USERNAME)

Loading library list...
Done

In [6]:
db.list_tables(library="tfn")

['amend',
 'avgreturns',
 'company',
 'form144',
 'header',
 'idfhist',
 'idfnames',
 'rule10b5',
 's12',
 's12names',
 's12type1',
 's12type2',
 's12type3',
 's12type4',
 's12type5',
 's12type6',
 's12type7',
 's12type8',
 's34',
 's34names',
 's34type1',
 's34type2',
 's34type3',
 's34type4',
 's34type6',
 'table1',
 'table2']

In [6]:
db.list_tables(library="trdssamp")

['ds2mktval',
 'ds2primqtprc',
 'ds2primqtri',
 'dscminfo',
 'dsfutcontrinfo',
 'ecodata',
 'ecoinfo',
 'wrds_cmdy_data',
 'wrds_cmdy_info',
 'wrds_contract_info',
 'wrds_cseries_info',
 'wrds_ds2dsf',
 'wrds_ds_indexconstmerged_dly',
 'wrds_ds_indexconstmerged_mth',
 'wrds_ds_indexmerged',
 'wrds_ds_names',
 'wrds_ecoinfo',
 'wrds_fut_contract',
 'wrds_fut_series']

In [8]:
db.describe_table(library="trdssamp", table="wrds_fut_contract")

Approximately 34327 rows in trdssamp.wrds_fut_contract.

            name  nullable              type comment
0        futcode      True    NUMERIC(11, 0)    None
1          date_      True              DATE    None
2          open_      True  DOUBLE PRECISION    None
3           high      True  DOUBLE PRECISION    None
4            low      True  DOUBLE PRECISION    None
5         volume      True  DOUBLE PRECISION    None
6     settlement      True  DOUBLE PRECISION    None
7   openinterest      True  DOUBLE PRECISION    None
8              p      True  DOUBLE PRECISION    None
9             pb      True  DOUBLE PRECISION    None
10            pa      True  DOUBLE PRECISION    None
11            wa      True  DOUBLE PRECISION    None
12            ca      True  DOUBLE PRECISION    None
13            yd      True  DOUBLE PRECISION    None
14            hm      True  DOUBLE PRECISION    None
15            ha      True  DOUBLE PRECISION    None
16            mt      True  DOUBLE PRECISION    None
17            la      True  DOUBLE PRECISION    None
18            lm      True  DOUBLE PRECISION    None
19            oa      True  DOUBLE PRECISION    None
20            up      True  DOUBLE PRECISION    None

In [11]:
db.describe_table(library="tfn", table="table1")

Approximately 16739897 rows in tfn.table1.

,name,nullable,type,comment
0,fdate,True,DATE,File Date
1,cdate,True,DATE,Created Date
2,dcn,True,VARCHAR,Document Control Number
3,seqnum,True,DOUBLE PRECISION,Sequence Number
4,formtype,True,VARCHAR,Form Type
5,personid,True,DOUBLE PRECISION,Person ID
6,owner,True,VARCHAR,Owner
7,secid,True,DOUBLE PRECISION,Security ID
8,ticker,True,VARCHAR,Ticker Symbol
9,cusip6,True,VARCHAR,CUSIP Issuer
10,cusip2,True,VARCHAR,CUSIP Issue
11,cusipx,True,VARCHAR,CUSIP Check
12,cname,True,VARCHAR,Company Name
13,rolecode1,True,VARCHAR,Role Code 1
14,rolecode2,True,VARCHAR,Role Code 2
15,rolecode3,True,VARCHAR,Role Code 3
16,rolecode4,True,VARCHAR,Role Code 4
17,trancode,True,VARCHAR,Transaction Code
18,acqdisp,True,VARCHAR,Acquisition Disposition Flag
19,trandate,True,DATE,Transaction Date
20,tprice,True,DOUBLE PRECISION,Transaction Price
21,ownership,True,VARCHAR,Ownership Type
22,shares,True,DOUBLE PRECISION,Number of Shares
23,sharesheld,True,DOUBLE PRECISION,Resulting Shares Held
24,amend,True,VARCHAR,Amendment Indicator
25,secdate,True,DATE,SEC Receipt Date
26,sigdate,True,DATE,Signature Date
27,maintdate,True,DATE,Last Maintenance Date
28,cleanse,True,VARCHAR,Cleanse Date
29,trancode_ar,True,VARCHAR,Transaction Code as Reported
30,acqdisp_ar,True,VARCHAR,Acquisition Disposition as Reported
31,tprice_ar,True,DOUBLE PRECISION,Transaction Price as Reported
32,trandate_ar,True,DATE,Transaction Date as Reported
33,optionsell,True,VARCHAR,Option Sell Indicator
34,sectitle,True,VARCHAR,Security Title
35,shares_adj,True,DOUBLE PRECISION,Number of Shares Adjust
36,sharesheld_adj,True,DOUBLE PRECISION,Number of Shared Held Adjust
37,tprice_adj,True,DOUBLE PRECISION,Transaction Price Adjust
38,address1,True,VARCHAR,Address 1
39,address2,True,VARCHAR,Address 2
40,city,True,VARCHAR,City
41,state,True,VARCHAR,State
42,zipcode,True,VARCHAR,Zip Code
43,country,True,VARCHAR,Country
44,phone,True,VARCHAR,Phone Number
45,cnum,True,VARCHAR,Company Number
46,sector,True,VARCHAR,Sector Code
47,industry,True,VARCHAR,Industry Code

In [10]:
db.get_table(library="trdssamp", table="wrds_cmdy_info")

,comcode,dsmnemonic,creatorcode,creatordesc,comtype,comdesc,isocur,isocurdesc,curunit,unitcode,...,basedate_,basevalue,basedatefmt,freqcode,name,dsname,freightcond,startdate_,seriestype,licflag
0,57,AMCOEU$,9063,Asian Metal,METALS,Metals,USD,US Dollar,E+00,050,...,None,None,None,None,Cobalt 99.3% min Europe U$/lb,Cobalt 99.3% min Europe U$/lb,None,2006-01-13,S,3670018
1,85,AMFBFC$,9063,Asian Metal,METALS,Metals,USD,US Dollar,E+00,042,...,None,None,None,None,Ferro-boron B18% C 0.5% FOB CH $/MT,Ferro-boron B18% C 0.5% FOB CH $/MT,None,2004-04-28,S,3670018
2,103,AMFNBCH,9063,Asian Metal,METALS,Metals,CNY,Yuan Renminbi,E+00,042,...,None,None,None,None,Ferro-Niobium 60-B China C 'Dead',Ferro-niobium 60-B China C'DEAD',None,2006-04-07,S,3670018
3,400,AUFPERS,9016,Flemington Market,FRUIT,Fruit,AUD,Australian Dollar,E+00,020,...,None,None,None,None,Persimmon A$/6KG DEAD,Persimmon A$/6KG DEAD,None,1996-02-09,S,1507330
4,546,BRNZ105,9038,Public Ledger,METALS,Metals,GBP,Pound Sterling,E+00,042,...,None,None,None,None,"Bronze, 105 8% $/MT DEAD","Bronze, 105 8% $/MT DEAD",None,1997-09-01,S,2621442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19373,WPEPMUN,9001,THOMSON REUTERS (GLOBAL TOPIC),EXOTIC,Exotic and Minors,USD,US Dollar,E+00,042,...,None,None,None,None,"White Pepper Muntok Shipment Cost, Insurance a...",White Pepper Muntok Shipment C'DEAD',None,2019-09-05,S,917506
96,21160,NQ2GCER,None,None,PI,PriceIndex,USD,US Dollar,None,None,...,2012-04-19,None,None,None,NASDAQ OMX Gold Second Front Excess Return Index,NASDAQ OMX 2nd Front Gold ER Index,None,2012-04-24,I,655363
97,21229,NQ3PMER,None,None,PI,PriceIndex,USD,US Dollar,None,None,...,2012-04-19,None,None,None,NASDAQ OMX Precious Metals Third Front Excess ...,NASDAQ OMX 3rd Front Precious Mtls ER,None,2012-04-24,I,655363
98,21282,NQHNGER,None,None,PI,PriceIndex,USD,US Dollar,None,None,...,2012-04-19,None,None,None,NASDAQ OMX Natural Gas Third Hold Excess Retur...,NASDAQ OMX 3rd Hold Natural Gas ER,None,2012-04-24,I,655363
99,21326,NQIKCER,None,None,PI,PriceIndex,USD,US Dollar,None,None,...,2012-04-19,None,None,None,NASDAQ OMX Coffee Excess Return Index,NASDAQ OMX Coffee ER Index,None,2012-04-24,I,655363